@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=DM+Sans:wght@300;400;500&display=swap'); */

:root {
  --bg: #0d0d0d;
  --bg-card: #141414;
  --border: #1e1e1e;
  --accent: #c8f65d;
  --text: #f0f0f0;
  --muted: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'DM Sans', sans-serif;
}